run = "npm run start"
entrypoint = "server.js"
modules = ["nodejs-20"]

hidden = [".config", "package-lock.json", "tsconfig.json", ".git", ".gitignore"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start"]
deploymentTarget = "cloudrun"
ignorePorts = false

[[ports]]
localPort = 3000
externalPort = 80

[env]
NODE_ENV = "production"
